<configuration>

    <!-- Definir la raíz del logger -->
    <root level="info">
        <!-- Definir un FileAppender -->
        <appender class="ch.qos.logback.core.FileAppender" name="FILE">
            <file>logs.log</file>
            <append>true</append>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <!-- Asociar el FileAppender al root logger -->
        <appender-ref ref="FILE"/>
    </root>

</configuration>